@import url('https://fonts.googleapis.com/css?family=Ubuntu');

:root {
  --color-background: #772953;
  --color-background-with-opacity: rgba(119,41,84, 0.9);
  --color-foreground: #f4f4f4;
  --color-foreground-alt: #e95420;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.container {
  margin: 0 1.5rem;
}

ul {
  list-style-type: none;
}

header,
footer {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

header {
  display: flex;
  justify-content: space-between;
  min-height: 50px;
  align-items: center;
}

header > a {
  margin-left: 1.65rem;
  font-size: 25px;
  text-decoration: none;
  color: var(--color-foreground);
}

header > nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
}

header > nav > ul {
  display: none;
}

header > nav:hover > ul,
header > nav:active > ul {
  display: flex;
  flex-direction: column;
  background-color: var(--color-background-with-opacity);
  color: var(--color-foreground);
  width: 200px;
  height: 150px;
  align-items: center;
  justify-content: center;
  line-height: 1.8rem;
}

header > nav:hover > ul > li > a {
  text-decoration: none;
  color: inherit;
}

header > nav:hover > ul > li > a:hover,
header > nav:hover > ul > li > a:active,
header > nav:hover > ul > li > button:hover,
header > nav:hover > ul > li > button:active {
  text-decoration: none;
  color: var(--color-foreground-alt);
}

header > nav > ul button {
  background: none;
  color: inherit;
  border: none; 
  font: inherit;
  cursor: pointer;
}


header > nav > span.userThumbnail {
  align-self: flex-end;
}

.page {
  min-height: 100vh;
  position: relative;
  padding-bottom: 50px;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  display: flex;
  justify-items: flex-end;
  align-items: center;
  flex: 1 1 250px;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Login */

.page-login .container.main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 89vh;
}

.page-login .container.main > button {
  width: 50vw;
  height: 10vh;
  font-size: 20px;
  color: var(--color-foreground);
  background-color: var(--color-background);
  border-radius: 1rem;
}

.page-login .container.main > button:hover,
.page-login .container.main > button:active {
  color: var(--color-foreground-alt);
}

/* Privacy Policy */

.main .privacy-policy {
  padding-top: 1rem;
}

.main .privacy-policy p {
  padding: 1rem 0;
}

/* Playlist */

.player-container {
  margin-top: 2rem;
}

.player-container > ul {
  display: flex;
  overflow-x: scroll;
  justify-content: space-evenly;
  flex: 1 1 auto;
  flex-wrap: wrap;
}

.player-container .player {
  width: 100%;
  height: 100%;
  min-height: 500px;
}
